/* Estilos gerais */
body {
  background-color: #111;
  margin: 0;
  display: flex;
  height: 100vh;
  overflow: hidden; /* Removendo a barra de rolagem */
}

.cards-container {
  overflow: none;
  position: sticky;
  display: flex;
  justify-content: center; /* Centralizar os cards horizontalmente */
  align-items: center; /* Centralizar os cards verticalmente */
  cursor: grab; /* Adicionado aqui para permitir arrastar no contêiner */
}

.slick-slider {
  display: flex;
  width: 90vw;
  max-width: 1000px;
  margin: 0 auto;
  transition: transform 0.9s ease-out;
  user-select: none;
}

.icon-cards__item {
  flex: 0 0 calc(100% - 20px); /* Ajuste a largura para ocupar 100% da largura do contêiner */
  max-width: calc(20% - 20px); /* Define a largura máxima para 20% com margens */
  height: 400px;
  background-color: #333;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 27px;
  font-size: 2rem;
  transition: transform 0.6s ease-out, box-shadow 0.6s ease-out;
  z-index: 1; /* Garante que os cards estejam na mesma camada inicialmente */
}

.icon-cards__item.active {
  transform: scale(1) translateY(-50%) translateX(-50%);
  position: center;
  z-index: 2; /* Coloca o card ativo na frente dos outros */
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
}

.icon-cards__item:not(.active):hover {
  transform: scale(1.2);
  z-index: 2; /* Coloca o card sobreposto à frente dos outros ao passar o mouse */
}

/* Estilos para dispositivos menores (mobile) */
@media only screen and (max-width: 1337px) {
  .slick-slider {
    width: 100vw;
    justify-content: flex-start; /* Alinhar cards à esquerda na tela menor */
  }

  .icon-cards__item {
    flex: 0 0 calc(33.33% - 20px); /* Ajuste a largura para ocupar 33.33% da largura do contêiner */
    max-width: calc(33.33% - 20px); /* Define a largura máxima para 33.33% com margens */
  }

  .icon-cards__item {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 720px) {
  .slick-slider {
    width: 100vw;
    justify-content: flex-start; /* Alinhar cards à esquerda na tela menor */
  }

  .icon-cards__item {
    flex: 0 0 calc(33.33% - 20px); /* Ajuste a largura para ocupar 33.33% da largura do contêiner */
    max-width: calc(33.33% - 20px); /* Define a largura máxima para 33.33% com margens */
  }

  .icon-cards__item {
    font-size: 1.0rem;
  }
}